body, html {
  margin:0;
  padding:0;
  color:#000;
  font-family:Verdana,Arial;
}

#world {
  width:350;
  height:350;
  border:1px solid black;
}

#container {
  width:1000px;
  margin:0 auto;
}

#header {
  padding-top:20px;
  padding-bottom:20px;
  height:60px;
  display:none;
}

#loading {
  padding-left:20px;
  padding-top:6px;
}

#savepin {
  padding:6px;
  text-align:center;
  width:9em;
  margin-top:-1px;
  height:27px;
  font-weight: bold;
  margin-left:10px;
}

#nav {
  margin-top:20px;
  margin-bottom:30px;
}

#cli {
  clear:both;
}

.option {
 float:left;
 background-color:#eee;
 padding:0.5em;
 border:1px solid black;
 margin:1px;
}

.option:hover, .result:hover {
  cursor:hand;
}

.selected_option {
  background-color:#52B904;
}

#main {
  float:left;
}

#sidebar {
  float:right;
  width:340px;
  height:600px;
}

#map_holder {
  width:650px;
  height:600px;
}

#footer {
  clear:both;
  display:none;
}

#ph {
  width:650;
  height:600;
  border:1px solid black;
}

#control {
  width:600;
  height:80;
  border: 1px solid black;
}

#loc {
  margin-left:-1px;
  padding:5px;
  border: 2px solid black;
}

#status {
  margin-bottom:1em;
  background-color: #eee;
  padding:10px;
}

.fleft {
  float:left;
}

.clear {
  clear:both;
  float:left;
}

#photoinfo {
  display:none;
}
